name: deploy-auth

on:
  push:
    branches:
      - master
    paths:
      - 'auth/**'
  pull_request:
    branches:
      - master
    paths:
      - 'auth/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: cd auth && docker build -t debabrata100/ticketing-auth .
      - run: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      - run: docker push debabrata100/ticketing-auth